body {
  font-family: cursive;
  margin: 0;
}

h2 {
  margin-top: 0;
  font-size: 2.5rem;
  margin-left: 6rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

th {
  padding-top: 10px;
  padding-bottom: 10px;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
}

li {
  padding-bottom: 20px;
}

a {
  color: #f8ede3;
}
/* Landing page */
.navbar {
  background-color: #85586f36;
}

.nav-item {
  padding: 0 10px 0 60px;
  font-size: 20px;
}

.main {
  background-color: #f8ede3;
}

.main-img {
  width: 50%;
  margin: 20px 0 0 650px;
  padding-bottom: 40px;
}

.main-heading {
  display: inline-block;
  position: absolute;
  margin: 230px 0 0 160px;
  font-size: 2.5rem;
}

.my-name {
  color: #85586f;
  font-size: 4rem;
}

.main-text {
  display: inline-block;
  position: absolute;
  margin: 330px 0 0 190px;
  font-size: 1.5rem;
}

/* About section */
.about {
  background-color: #85586f;
  color: white;
}

.about-picture {
  height: 60%;
  width: 60%;
  border-radius: 100%;
  border-color: white;
  border-style: double;
  border-width: 5px;
  margin-left: 4rem;
  margin-bottom: 5rem;
}

.about-text {
  margin-right: 3rem;
  font-size: 1.5rem;
  margin-top: 0;
  padding-bottom: 4rem;
}

/* Experience section */
.experience {
  background-color: #f8ede3;
  padding-bottom: 8rem;
}

.work-table {
  margin-left: 125px;
  border-color: #85586f;
  border-style: dashed;
  width: 80%;
  text-align: center;
  padding-bottom: 10px;
  border-spacing: 0;
}

.exp-header {
  background-color: #85586f56;
  padding-top: 10px;
}

/* Skills section */
.skills {
  background-color: #dfcabc;
}

.skill-outer-table {
  margin-left: 125px;
  margin-right: 125px;
}

.skill-inner-table {
  margin-left: 125px;
  margin-right: 125px;
  margin-bottom: 30px;
}

/* Projects section */
.projects {
  background-color: #573446;
  color: white;
}

.project-list {
  padding-left: 150px;
  padding-bottom: 50px;
}

/* Back-to-top button */
#floating-btn {
  position: fixed;
  bottom: 10px;
  float: right;
  margin-left: 90%;
  width: 50px;
  height: 50px;
  font-size: 12px;
  border-color: rgba(8, 8, 8, 0.244);
  background-color: rgba(112, 101, 96, 0.525);
  padding: 0.5px;
  border-radius: 4px;
}
/*On Hover Color Change*/
#floating-btn:hover {
  background-color: #7dbbf1;
}

/* Footer section */
.footer {
  background-color: #b89e8c;
  text-align: center;
  height: 65px;
}

.social-icons {
  padding: 20px;
  margin-top: 10px;
}
