body {
  font-family: Montserrat;
  margin: 0;
}

h1 {
  font-family: Ubuntu;
  font-weight: 500;
}

h2 {
  margin: 0 auto 0 1.5rem;
  text-align: left;
  font-family: Ubuntu;
  font-family: 700;
  font-size: 2.5rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

th {
  padding-top: 10px;
  padding-bottom: 10px;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
}

li {
  padding-bottom: 20px;
}

a {
  color: #f8ede3;
}
/* Landing page */
.navbar {
  background-color: #85586f36;
}

.nav-item {
  padding: 0 10px 0 60px;
  font-size: 18px;
  font-family: Ubuntu;
  font-weight: 300;
}

.main {
  background-color: #f8ede3;
  padding: 2% 0 7%;
}

.main-img {
  width: 100%;
  top: 20%;
  right: 3%;
}

.main-heading {
  margin: 20% auto auto 10%;
  font-size: 2.5rem;
}

.my-name {
  color: #85586f;
  font-size: 6rem;
  padding-left: 10px;
  font-family: "Dancing script";
}

.main-text {
  margin: 5% auto auto 15%;
  font-size: 1.5rem;
}

/* About section */
.about {
  background-color: #85586f;
  color: white;
}

.about-picture {
  height: 300px;
  width: 300px;
  display: block;
  border-radius: 100%;
  border-color: white;
  border-style: double;
  border-width: 5px;
  margin: 1rem auto 3rem auto;
}

.about-text {
  margin: 0 1.5rem;
  text-align: justify;
  font-size: 1.3rem;
  padding-bottom: 4rem;
}

/* Experience section */
.experience {
  background-color: #f8ede3;
  padding-bottom: 5rem;
}

.work-table {
  margin: 0 auto;
  border-color: #85586f;
  border-style: dashed;
  width: 80%;
  text-align: center;
  border-spacing: 0;
}

.exp-header {
  background-color: #85586f56;
  padding-top: 10px;
}

/* Skills section */
.skills {
  background-color: #dfcabc;
  padding-bottom: 30px;
}

.skill-table {
  margin: 0 auto;
}

/* Projects section */
.projects {
  background-color: #573446;
  color: white;
}

.project-list {
  padding-left: 120px;
  padding-bottom: 30px;
}

/* Back-to-top button */
#floating-btn {
  position: fixed;
  bottom: 10px;
  float: right;
  margin-left: 90%;
  width: 35px;
  height: 35px;
  border-color: rgba(8, 8, 8, 0.244);
  background-color: rgba(112, 101, 96, 0.525);
  padding: 2px;
  border-radius: 100%;
}
/*On Hover Color Change*/
#floating-btn:hover {
  background-color: #7dbbf1;
}

/* Footer section */
.footer {
  background-color: #b89e8c;
  text-align: center;
  height: 65px;
}

.social-icons {
  padding: 20px 10px;
  margin-top: 10px;
}
